<app-searchbox (onSearch)="busca($event)"></app-searchbox>
<p-table [value]="pessoas">
  <ng-template pTemplate="header">
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-p>
    <tr>
      <td>{{p.id}}</td>
      <td>{{p.nome}}</td>
      <td>
        <p-splitButton icon="pi pi-pencil" [model]="[]" styleClass="p-button-text p-button-sm"></p-splitButton>
      </td>
    </tr>
  </ng-template>
</p-table>



<h2 mat-dialog-title>{{ data.action === 'create' ? 'Criar' : 'Editar' }} Pessoas</h2>
<div mat-dialog-content>
  <form [formGroup]="personForm">
    <mat-form-field>
      <input matInput formControlName="nome" placeholder="Nome">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancelar</button>
  <button mat-button color="primary" (click)="onSaveClick()">{{ data.ayction === 'create' ? 'Criar' : 'Salvar' }}</button>
</div>


<ng-container matColumnDef="actions">
  <th mat-header-cell *matHeaderCellDef> Ações </th>
  <td mat-cell *matCellDef="let person">
    <button mat-icon-button (click)="onDeleteClick(person)">
      <mat-icon>delete</mat-icon>
    </button>
  </td>
</ng-container>